body {
  text-align: center;
  background-color: #800000;
}
header {
  background-color: #ffffff;
  position: flex;
  width: 91vw;
}

li {
    float: right;
}

li a {
    display: block;
    color: green;
    padding: 14px 16px;
    text-decoration: none;
}

